<form action="/figures" method="POST">
  <h1>New Figure</h1>
  Name: <input type="text" name="figure[name]" id="figure_name"><br>

  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %><br>
  <% end %>

  <h3>Create New Title:</h3>
  <input type="text" name="title[name]" id="new_title"><br>

  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%= landmark.name %><br>
  <% end %>

  <h3>Create New Landmark</h3>
  Name: <input type="text" name="landmark[name]" id="new_landmark">
  Year: <input type="text" name="landmark[year_completed]">
  <input type="submit" value="Create New Figure">
</form>